.app {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  .container {
    width: 400px;
    height: 400px;
    background-color: green;
    text-align: center;
  }
  .coffeImg {
    background-image: url(./img/cofee.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .helloCoffee {
    font-size: 80px;
    color: white;
    text-shadow: 1px;
  }
}
